@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azeroth</h1>
    <p>I see... only darkness... before me...</a>.</p>
    <img id="image" src="~/images/AzerothMap.png" style="display:none;" />
    <canvas id="canvas" style="border:1px solid"></canvas>
    <script src ="~/js/site.js"></script>
</div>
